{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="card flex-row flex-wrap">
    <div class="card-header border-0">
        <img src="//placehold.it/200" alt="">
    </div>
    <div class="card-block px-2">
        <h4 class="card-title">{{ product.name }}</h4>
        <p><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></p>
        <h4>${{ product.price }}</h4>
        <p class="card-text">{{ product.description|linebreaks }}</p>
        <form action="{% url 'cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input  class="btn btn-success" type="submit" value="Add to cart">
        </form>

    </div>

</div>
{% endblock %}