{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2">
        <div class="sidebar-sticky">
            <h3>Categories</h3>
            <ul class="nav flex-column">
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url 'product_list' %}">All</a>
                </li>
                {% for c in categories %}
                <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-3  ml-2 mt-3">
                <div class="card" style="width: 18rem;">
            <a href="{{ product.get_absolute_url }}" class="text-center">
                <img class="img-thumbnail" style="width:200px; height:200px" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                <h4 class="text-center">${{ product.price }}</h4>
            </div>
                </div>
            </div>
            {% endfor %}
        </div>

        </div>


</div>



{% endblock %}